<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="lesson14.TestNG_Assert"/>
      <class name="lesson14.FacebookSignUpTestNG_Test"/>
      <class name="lesson14.TestNG_AssertHardAndSoft"/>
      <class name="lesson14.Annotationss"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
